/*! CSS Used from: https://www.marqeta.com/static/style.css */
section.IndexTailoredGreenSvg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.IndexTailoredGreenSvg svg {
    position: absolute;
    width: 497px;
    left: 126px;
    top: 28px;
    opacity: 0;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: none;
    animation: none;
}

.IndexTailoredGreenSvg svg path {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .IndexTailoredGreenSvg svg {
        width: 65%;
        left: 16%;
        top: 2%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .IndexTailoredGreenSvg svg {
        width: 64%;
        left: 17%;
        top: 2%;
    }
}

@media (max-width: 367px),
(min-width: 368px) and (max-width: 767px) {
    .IndexTailoredGreenSvg svg {
        width: 64%;
        left: 17%;
        top: 2%;
    }
}

.IndexTailoredGreenSvg-circleStroke {
    -webkit-animation: circleFillAnimation 2.4s cubic-bezier(0.33, 0, 0.67, 1) infinite;
    animation: circleFillAnimation 2.4s cubic-bezier(0.33, 0, 0.67, 1) infinite;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.IndexTailoredGreenSvg-circleFill {
    -webkit-animation: circleAnimation 2.4s cubic-bezier(0.33, 0, 0.67, 1) infinite;
    animation: circleAnimation 2.4s cubic-bezier(0.33, 0, 0.67, 1) infinite;
}

.IndexTailoredGreenSvg-circleWrapper {
    opacity: 0;
}

.IndexTailoredGreenSvg .setPosition-1 {
    -webkit-transform: translate(-18px, -3px);
    -ms-transform: translate(-18px, -3px);
    transform: translate(-18px, -3px);
}

.IndexTailoredGreenSvg .setPosition-2 {
    -webkit-transform: translate(-5px, -3px);
    -ms-transform: translate(-5px, -3px);
    transform: translate(-5px, -3px);
}

.IndexTailored-sequenceWrapper {
    position: sticky;
    width: 770px;
    height: 750px;
    top: 0;
    min-height: 100vh;
    opacity: 1;
    padding-top: calc(41.91vh + -311px);
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(13%, #2a206a), color-stop(70%, #2a206a), to(rgba(0, 0, 0, 0)));
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #2a206a 13%, #2a206a 70%, rgba(0, 0, 0, 0));
    mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(13%, #2a206a), color-stop(70%, #2a206a), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #2a206a 13%, #2a206a 70%, rgba(0, 0, 0, 0));
}

@media (min-height: 1100px) {
    .IndexTailored-sequenceWrapper {
        padding-top: 150px;
    }
}

@media (max-height: 790px) {
    .IndexTailored-sequenceWrapper {
        padding-top: 20px;
    }
}

@media (max-width: 1024px) and (max-height: 980px) {
    .IndexTailored-sequenceWrapper {
        padding-top: 100px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .IndexTailored-sequenceWrapper {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .IndexTailored-sequenceWrapper {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 367px),
(min-width: 368px) and (max-width: 767px) {
    .IndexTailored-sequenceWrapper {
        position: sticky;
        width: 100%;
        height: 360px;
        top: 50vh;
        min-height: inherit;
        padding-top: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        overflow: hidden;
        -webkit-mask-image: none;
        mask-image: none;
        margin-top: 80px;
    }
}

@media (max-width: 367px),
(min-width: 368px) and (max-width: 767px) {
    .IndexTailored-sequenceWrapper-inner {
        position: absolute;
        width: 360px;
        left: 50%;
        margin-left: -173px;
        height: 100%;
        -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(13%, #2a206a), color-stop(70%, #2a206a), to(rgba(0, 0, 0, 0)));
        -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #2a206a 13%, #2a206a 70%, rgba(0, 0, 0, 0));
        mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(13%, #2a206a), color-stop(70%, #2a206a), to(rgba(0, 0, 0, 0)));
        mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #2a206a 13%, #2a206a 70%, rgba(0, 0, 0, 0));
    }
}

.IndexTailored-sequenceWrapper video {
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, #2a206a), color-stop(70%, #2a206a), to(rgba(0, 0, 0, 0)));
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #2a206a 30%, #2a206a 70%, rgba(0, 0, 0, 0));
    mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, #2a206a), color-stop(70%, #2a206a), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #2a206a 30%, #2a206a 70%, rgba(0, 0, 0, 0));
}

/*! CSS Used keyframes */
@-webkit-keyframes circleFillAnimation {
    0% {
        stroke: #3cb982;
        stroke-width: 0;
        fill: #3cb982;
    }

    50% {
        stroke: #3cb982;
        fill: #3cb982;
        stroke-width: 3;
    }

    66% {
        stroke: rgba(60, 185, 130, 0);
        fill: rgba(60, 185, 130, 0);
        stroke-width: 3;
    }

    to {
        stroke: rgba(60, 185, 130, 0);
        fill: rgba(60, 185, 130, 0);
        stroke-width: 0;
    }
}

@keyframes circleFillAnimation {
    0% {
        stroke: #3cb982;
        stroke-width: 0;
        fill: #3cb982;
    }

    50% {
        stroke: #3cb982;
        fill: #3cb982;
        stroke-width: 3;
    }

    66% {
        stroke: rgba(60, 185, 130, 0);
        fill: rgba(60, 185, 130, 0);
        stroke-width: 3;
    }

    to {
        stroke: rgba(60, 185, 130, 0);
        fill: rgba(60, 185, 130, 0);
        stroke-width: 0;
    }
}

@-webkit-keyframes circleAnimation {
    0% {
        stroke: rgba(60, 185, 130, 0);
        stroke-width: 0;
    }

    66% {
        stroke: #3cb982;
        stroke-width: 5;
    }

    to {
        stroke: rgba(60, 185, 130, 0);
        stroke-width: 5;
    }
}

@keyframes circleAnimation {
    0% {
        stroke: rgba(60, 185, 130, 0);
        stroke-width: 0;
    }

    66% {
        stroke: #3cb982;
        stroke-width: 5;
    }

    to {
        stroke: rgba(60, 185, 130, 0);
        stroke-width: 5;
    }
}