html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,*::before,*::after {
  box-sizing: inherit;
}


strong,b {
  font-weight: 700;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #2a206a;
  font-family: Graphik, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 400;
  letter-spacing: 0.00938em;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

@media print {
  body {
      background-color: #FFFFFF;
  }
}

body::backdrop {
  background-color: #FFFFFF;
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('Graphik-Light'),url(/fonts/Graphik-Light-Web.woff2);
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Graphik-Regular'),url(/fonts/Graphik-Regular-Web.woff2);
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Graphik-Medium'),url(/fonts/Graphik-Medium-Web.woff2);
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('Graphik-Medium'),url(/fonts/Graphik-Semibold-Web.woff2);
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
}

iframe {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}